@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
html {
    scroll-behavior: smooth;
  }

body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}


.sectionHeadContainer{
    background-color: #1572A1;
}

.navbar{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.bannerContainer{
    margin-top: 30px;
}

.bannerImg{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.cardsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.cardsServiceContainer{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.card{
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: linear 0.05s;
    align-items: center;
}

.card:hover{
    transform: scale(1.01);
    background-color: rgba(154, 208, 236, 0.2);
}


.card .imgContainer{
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.card .imgContainer img{
    width: 100%;
}

.card .titleContainer{
    width: 65%;
}
.card .titleContainer .title{
    font-size: 1.1rem;
    font-weight: bold;
}

.transactionTutor{
    border-radius: 8px;
}

.transactionTutor .tutorImg{
    width: 40%;
}

.transactionTutor .tutorImg img{
    width: 100%;
}

.cardsServiceTitle{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 900;
}

.titleText{
    margin-bottom: 20px;
}

.rattingContainer{
    flex:1;
    flex-direction: row;
}

.rattingImg{
    margin-top: 20px;
    width: 100%;
    height: 25px;
    justify-content: center;
    align-items: center;
}

.rattingImg .img{
    /* width: 10%; */
    height: 80%;
}

.bar{
    height: 6px;
    background-color: #2ecc71;
    width: 100%;
    border-radius: 8px;
    margin-top: 8px;
}

.rattingText{
    font-size: 12px;
    color: #636e72;
    padding-left: 10px;
}

.rattingTextNumber{
    padding-left: 10px;
  
    height: 100%;
    margin-bottom: 20px;
}

.cardService{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    transition: linear 0.01s;
}

.cardService:hover{
    transform: scale(1.01);
    background-color: rgba(154, 208, 236, 0.2);
}
.cardService .thumb{
   width: 100%;
   height: 200px;
   border-radius: 8px;
}

.cardServiceTitle{
    padding: 10px;
    font-weight: bold;
 }

 .btn{
     flex: 1;
     width: 100%;
     padding: 10px 0;
     justify-content: center;
     align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
 }

 .footer{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    background-color: #1572A1;
 }

 .content{
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100%;
 }

 .footerCard{
     background-color: #9AD0EC;
     border-radius: 8px;
     width: 100%;
     padding: 20px;
 }

 .footerCard input{
     padding: 10px;
     border-radius: 8px;
     border: 1px solid #ddd;
     font-size: 16px;
 }

 .footerImg{
     width: 30%;
     height: auto;
 }

 .sosmedIcon{
     width: 25px;
     margin: 2px;
     border-radius: 5px;
 }

 .btt{
    display: flex;
    background-color: #1572A1;
    width: 50px;
    aspect-ratio: 1;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px;
    justify-content: center;
    align-items: center;
 }

 .btt img{
     width: 50%;
 }


@media (min-width: 600px) {
    .cardsContainer { 
        grid-template-columns: repeat(2, 1fr); 
    }

    .cardsServiceContainer { 
        grid-template-columns: repeat(3, 1fr); 
    }

    .footer{
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 900px) {
    .cardsContainer { 
        grid-template-columns: repeat(3, 1fr); 
    }

    .cardsServiceContainer { 
        grid-template-columns: repeat(4, 1fr); 
    }

    .footer{
        grid-template-columns: repeat(3, 1fr); 
    }
}